body{
    margin: 0 auto;
    max-width: 614px;
    max-height: 750px;
}
.container{
    border: 18px solid #3e3e3e;
}
#bgColor{
    background-color: #3e3e3e;
}
table{
    width: 580px;
    border-collapse: collapse;
}
tr, th, td{
    border: 6px solid #3e3e3e;
    height: 65px;
    background-color: #f3f3f3;
}
.black{
    background: #000000;
}
.blue{
    background-color: #0d7fbe;
}
.yellow{
    background-color: #fae317;
}
.red{
    background-color: #f50f0f;
}